<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<header class="main-header header-style-one">
<style>
  @media  screen and (max-width: 40em) {
    .navigation{
      display: none;
    }
    
  }
</style>



    
    <div class="auto-container">
      <!-- Main box -->

      <div class="main-box">
        <div class="logo-box">
          <div class="logo"><a href="/"><img id="changeimg" src="images/logo-v4-black.png" alt="" title="Tronis"></a></div>
        </div>

        <!--Nav Box-->
        <div class="nav-outer">
          <nav class="nav main-menu">
            <ul class="navigation">
              <li class=""><a href="/">Home</a>
               
              </li>
              <li class=""><a href="/rooms">Rooms & Suites</a>
                <!-- <ul> -->
                  <!-- <li><a href="/rooms">Rooms</a></li> -->
                  <!-- <li><a href="page-rooms-suite.html">Rooms and Suits</a></li>
                  <li><a href="room-details.html">Room Details</a></li> -->
                <!-- </ul> -->
              </li>
              <!-- <li class="dropdown"><a href="#">Pages</a>
                <ul>
                  <li><a href="page-about.html">About</a></li>
                  <li><a href="/page-contact">Contact</a></li>
                  <li><a href="page-faq.html">Faq</a></li>
                  <li><a href="page-pricing.html">Pricing</a></li>
                  <li><a href="page-testimonial.html">Testimonials</a></li>
                  <li><a href="page-404.html">404</a></li>
                  <li class="dropdown"><a href="#">Team</a>
                    <ul>
                      <li><a href="page-team.html">Team List</a></li>
                      <li><a href="page-team-details.html">Team Details</a></li>
                    </ul>
                  </li>
                  <li class="dropdown"><a href="#">Shop</a>
                    <ul>
                      <li><a href="shop-products.html">Products</a></li>
                      <li><a href="shop-products-sidebar.html">Products with Sidebar</a></li>
                      <li><a href="shop-product-details.html">Product Details</a></li>
                      <li><a href="shop-cart.html">Cart</a></li>
                      <li><a href="shop-checkout.html">Checkout</a></li>
                    </ul>
                  </li>
                </ul>
              </li> -->
              <!-- <li class="dropdown"><a href="#">News</a>
                <ul>
                  <li><a href="news-grid.html">News Grid</a></li>
                  <li><a href="news-details.html">News Details</a></li>
                </ul>
              </li> -->
              <li><a href="/page-contact">Contact</a></li>
            </ul>
          </nav>
          <!-- Main Menu End-->
        </div>


        <div class="outer-box">
          <a href="/rooms" title="" class="header-btn">Book Now</a>
          <div class="mobile-nav-toggler"><span class="icon lnr-icon-bars"></span></div>
          <!-- Mobile Nav toggler -->
        </div>

      </div>
      <!-- Mobile Menu  -->
      <div class="mobile-menu">
        <div class="menu-backdrop"></div>
        <!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
        <nav class="menu-box">
          <div class="upper-box">
            <div class="nav-logo"><a href="/"><img src="images/logo-2.png" alt="" title=""></a></div>
            <div class="close-btn"><i class="icon fa fa-times"></i></div>
          </div>
          <ul class="navigation clearfix">
            <!--Keep This Empty / Menu will come through Javascript-->
          </ul>
          <ul class="contact-list-one">
            <li>
              <!-- Contact Info Box -->
              <div class="contact-info-box">
                <i class="icon lnr-icon-phone-handset"></i>
                <span class="title">Call Now</span>
                <a href="tel:+2349111458637">+2349111458637</a>
                <a href="tel:+2347070230039">+2347070230039</a>
              </div>
            </li>
            <li>
              <!-- Contact Info Box -->
              <div class="contact-info-box">
                <span class="icon lnr-icon-envelope1"></span>
                <span class="title">Send Email</span>
                <a href="mailto:wishmewellapartment@gmail.com">wishmewellapartment@gmail.com</a>
              </div>
            </li>
            <li>
              <!-- Contact Info Box -->
              <div class="contact-info-box">
                <span class="icon lnr-icon-clock"></span>
                <span class="title">Open 24/7</span>
                Mon - Sunday
              </div>
            </li>
          </ul>
          <ul class="social-links">
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
          </ul>
        </nav>
      </div><!-- End Mobile Menu -->

      <!-- Header Search -->
      <div class="search-popup">
        <span class="search-back-drop"></span>
        <button class="close-search"><span class="fa fa-times"></span></button>
        <!-- <div class="search-inner">
          <form method="post" action="https://kodesolution.com/html/2023/Wishmewell Apartment-html/index.html">
            <div class="form-group">
              <input type="search" name="search-field" value="" placeholder="Search..." required="">
              <button type="submit"><i class="fa fa-search"></i></button>
            </div>
          </form>
        </div> -->
      </div>

      <!-- End Header Search -->

      <!-- Sticky Header  -->
      <div class="sticky-header">

        <div class="auto-container">
          <div class="inner-container">
            <!--Logo-->
            <div class="logo">
              <a href="/" title=""><img src="images/logo-2.png" alt="" title=""></a>
            </div>
            <% if (activeMarquees) { %>
               
            <marquee behavior="alternate" direction="left" style="width: 64%; color: #fff;">
                <%= activeMarquees.text %>
            </marquee>

              
            <%}%>

            <!--Right Col-->
            <div class="nav-outer">
                
              <!-- Main Menu -->
              <nav class="main-menu">
                <div class="navbar-collapse show collapse clearfix">
                  <ul class="navigation clearfix">
                    <!--Keep This Empty / Menu will come through Javascript-->
                  </ul>
                </div>
              </nav><!-- Main Menu End-->
              <!--Mobile Navigation Toggler-->
              <div class="mobile-nav-toggler"><span class="icon lnr-icon-bars"></span></div>
            </div>
          </div>
        </div>
      </div><!-- End Sticky Menu -->
      
    </div>
</header>

