<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from kodesolution.com/html/2023/hoexr-html/page-contact.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 25 Aug 2023 12:36:17 GMT -->
<head>
<meta charset="utf-8">
<title>Wishmewell Apartment </title>
<!-- Stylesheets -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">

<link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
<link rel="icon" href="images/favicon.png" type="image/x-icon">

<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
<!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
<script src="https://unpkg.com/htmx.org@2.0.2"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

</head>

<body>

<div class="page-wrapper">

	<!-- Preloader -->
	<div class="preloader"></div>

  <!-- Main Header-->
  <%- include('partials/header', { title: 'Wishmewell Apartment',activeMarquees:activeMarquees }) %>

	<!--End Main Header -->

	<!-- Start main-content -->
	<section class="page-title" style="background-image: url(images/background/page-title-bg.png);">
		<div class="auto-container">
			<div class="title-outer text-center">
				<h1 class="title">Contact Us</h1>
				<ul class="page-breadcrumb">
					<li><a href="index-3.html">Home</a></li>
					<li>Contact</li>
				</ul>
			</div>
		</div>
	</section>
	<!-- end main-content -->

	<!--Contact Details Start-->
	<section class="contact-details">
		<div class="container ">
			<div class="row">
				<div class="col-xl-7 col-lg-6">
					<div class="sec-title">
						<span class="sub-title before-none">Send us email</span>
						<h2>Feel free to write</h2>
					</div>
					<!-- Contact Form -->
					<form id="contact_form" name="contact_form">
						<div class="row">
							<div class="col-sm-6">
								<div class="mb-3">
									<input name="form_name" id="form_name" class="form-control" type="text" placeholder="Enter Name" required>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="mb-3">
									<input name="form_email" id="form_email" class="form-control email" type="email" placeholder="Enter Email" required>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<div class="mb-3">
									<input name="form_subject" id="form_subject" class="form-control" type="text" placeholder="Enter Subject" required>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="mb-3">
									<input name="form_phone" id="form_phone" class="form-control" type="text" placeholder="Enter Phone" required>
								</div>
							</div>
						</div>
						<div class="mb-3">
							<textarea name="form_message" id="form_message" class="form-control" rows="7" placeholder="Enter Message" required></textarea>
						</div>
						<div class="mb-5">
							<button type="submit" class="theme-btn btn-style-one" id="sendBtn"><span class="btn-title">Send message</span></button>
							<button type="reset" class="theme-btn btn-style-one bg-theme-color5"><span class="btn-title">Reset</span></button>
						</div>
					</form>
					
					
					<!-- Contact Form Validation-->
				</div>
				<div class="col-xl-5 col-lg-6">
					<div class="contact-details__right">
						<div class="sec-title">
							<span class="sub-title before-none">Need any help?</span>
							<h2>Get in touch with us</h2>
							<div class="text">
                Have any questions or need assistance? We're here to help! Reach out to us via phone, email, or through our website. Our dedicated team is ready to provide you with all the information you need. Get in touch with us today and let us make your experience exceptional.
              </div>
						</div>
						<ul class="list-unstyled contact-details__info">
							<li>
								<div class="icon bg-theme-color2">
									<span class="lnr-icon-phone-plus"></span>
								</div>
								<div class="text">
									<h6>Have any question?</h6>
									<a href="tel:+2348085021450"><span></span>+2348085021450</a>
									<!-- <a href="tel:+2347070230039"><span></span> +2347070230039</a> -->
								</div>
							</li>
							<li>
								<div class="icon">
									<span class="lnr-icon-envelope1"></span>
								</div>
								<div class="text">
									<h6>Write email</h6>
									<a href="mailto:wishmewellapartment@gmail.com">wishmewellapartment@gmail.com</a>
								</div>
							</li>
							<li>
								<div class="icon">
									<span class="lnr-icon-location"></span>
								</div>
								<div class="text">
									<h6>Visit anytime</h6>
									<span>
                    24, Kakawa street Lagos island 
                  </span>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--Contact Details End-->

	<!-- Map Section-->
	<section class="map-section">
		<!-- <iframe  class="map w-100" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=6%20Adeniyi%20Street%20Itire,%20Lagos,%20Lagos%20State,%20Nigeria+(My%20Business%20Name)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe> -->

		<!-- <iframe class="map w-100" width="100%" height="600" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=6%20Adeniyi%20Street%20Itire,%20Lagos,%20Lagos%20State,%20Nigeria+(My%20Business%20Name)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe> -->
		<iframe 
    class="map w-100" 
    width="100%" 
    height="600" 
    src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=24%20Kakawa%20Street,%20Lagos%20Island,%20Lagos,%20Nigeria+(My%20Business%20Name)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed" 
    frameborder="0" 
    scrolling="no" 
    marginheight="0" 
    marginwidth="0">
</iframe>

	</section>
	<!--End Map Section-->

  <!-- Main Footer -->
  <%- include('partials/footer') %>
  <!--End Main Footer -->

</div><!-- End Page Wrapper -->


<!-- Scroll To Top -->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-up"></span></div>


<script src="js/jquery.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.fancybox.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/wow.js"></script>
<script src="js/appear.js"></script>
<script src="js/owl.js"></script>
<script src="js/script.js"></script>

<!-- form submit -->
<script src="js/jquery.validate.min.js"></script>
<script src="js/jquery.form.min.js"></script>
<script>
	(function($) {
		$("#contact_form").validate({
			submitHandler: function(form) {
				var form_btn = $(form).find('button[type="submit"]');
				var form_result_div = '#form-result';
				$(form_result_div).remove();
				form_btn.before('<div id="form-result" class="alert alert-success" role="alert" style="display: none;"></div>');
				var form_btn_old_msg = form_btn.html();
				form_btn.html(form_btn.prop('disabled', true).data("loading-text"));
				$(form).ajaxSubmit({
					dataType:  'json',
					success: function(data) {
						if( data.status == 'true' ) {
							$(form).find('.form-control').val('');
						}
						form_btn.prop('disabled', false).html(form_btn_old_msg);
						$(form_result_div).html(data.message).fadeIn('slow');
						setTimeout(function(){ $(form_result_div).fadeOut('slow') }, 6000);
					}
				});
			}
		});
	})(jQuery);
</script>
<script>
	document.getElementById('contact_form').addEventListener('submit', function(event) {
	  event.preventDefault(); // Prevent form submission
  
	  // Get input values
	  const formName = document.getElementById('form_name').value;
	  const formEmail = document.getElementById('form_email').value;
	  const formSubject = document.getElementById('form_subject').value;
	  const formPhone = document.getElementById('form_phone').value;
	  const formMessage = document.getElementById('form_message').value;
  
	  // Ensure all fields are filled (browser validation handles required fields, but adding this for extra security)
	  if (!formName || !formEmail || !formSubject || !formPhone || !formMessage) {
		Toastify({
					text: "Please fill in all the required fields.",
					duration: 3000,
					//destination: "https://github.com/apvarun/toastify-js",
					newWindow: true,
					close: true,
					gravity: "top", // `top` or `bottom`
					position: "center", // `left`, `center` or `right`
					stopOnFocus: true, // Prevents dismissing of toast on hover
					style: {
						background: "red",
					},
					onClick: function(){} // Callback after click
					}).showToast();
		return;
	  }
  
	  // Create an object for the form data
	  const formData = {
		name: formName,
		email: formEmail,
		subject: formSubject,
		phone: formPhone,
		message: formMessage
	  };
  
	  // Send the form data to /send-email using Fetch API
	  fetch('/send-email', {
		method: 'POST',
		headers: {
		  'Content-Type': 'application/json'
		},
		body: JSON.stringify(formData)
	  })
	  .then(response => response.json())
	  .then(data => {
		if (data.status) {
			Toastify({
					text: data.message,
					duration: 3000,
					//destination: "https://github.com/apvarun/toastify-js",
					newWindow: true,
					close: true,
					gravity: "top", // `top` or `bottom`
					position: "center", // `left`, `center` or `right`
					stopOnFocus: true, // Prevents dismissing of toast on hover
					style: {
						background: "green",
					},
					onClick: function(){} // Callback after click
					}).showToast();
					window.location.reload();
					return 
		} else {
			Toastify({
					text: data.message,
					duration: 3000,
					//destination: "https://github.com/apvarun/toastify-js",
					newWindow: true,
					close: true,
					gravity: "top", // `top` or `bottom`
					position: "center", // `left`, `center` or `right`
					stopOnFocus: true, // Prevents dismissing of toast on hover
					style: {
						background: "red",
					},
					onClick: function(){} // Callback after click
					}).showToast();
		}
	  })
	  .catch(error => {
		console.error('Error:', error);
		Toastify({
					text: error.message,
					duration: 3000,
					//destination: "https://github.com/apvarun/toastify-js",
					newWindow: true,
					close: true,
					gravity: "top", // `top` or `bottom`
					position: "center", // `left`, `center` or `right`
					stopOnFocus: true, // Prevents dismissing of toast on hover
					style: {
						background: "red",
					},
					onClick: function(){} // Callback after click
					}).showToast();
	  });
	});
  </script>
  


</body>

<!-- Mirrored from kodesolution.com/html/2023/hoexr-html/page-contact.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 25 Aug 2023 12:36:17 GMT -->
</html>